<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@next"> </script>
    <script src="app.js" defer></script>
</head>
<body>
    <header>
        <h1>FriendList</h1>
    </header>

    <section id="app">
        <ul>
<!--            <li v-for="friend in friends" :key="friend.id">-->
<!--                <h2>{{ friend.name  }}</h2>-->
<!--                <button @click="toggleDetails">-->
<!--                    {{ detailsAreVisible ? 'Hide' : 'Show' }} Details-->
<!--                </button>-->
<!--                <ul v-if="detailsAreVisible">-->
<!--                    <li><strong>Phone:</strong> {{ friend.phone }}</li>-->
<!--                    <li><strong>Email:</strong> {{ friend.email }}</li>-->
<!--                </ul>-->
<!--            </li>-->

            <friend-contact></friend-contact>
        </ul>
    </section>
</body>
</html>